/* style.css */
body{
	margin: 0px;
	color: #141414;
	background: #F9F9F9;
}
h1{
	font-family:helvetica;
	color: white;
}
h2{
	font-family:helvetica;
	color: #141414;
}
h3{
	font-family:helvetica;
	color: #141414;
}
p{
	color:white;
	font-family:helvetica;
}
.staff{
	border-radius: 500%
	padding: 20px;
	border: 2px solid black;
	border-radius: 50%
}
.staff{
	box-shadow: 5px 5px 5px black
}
#a{
	text-align: center;
	padding: 150px;
	padding-bottom: 150px;
	color: #141414;
	background: url("http://lorempixel.com/output/nightlife-q-c-1300-600-4.jpg");

}
#u{
	padding:30px;
	background:rgb(30, 30, 30);
	color:lightgray;
}

#u a {
	color: white ;
}

h4{
	font-family:helvetica;
	color: #141414;